[user]
	name = Clark Kampfe
	email = clark.kampfe@gmail.com
	signingkey = 11AA1A54
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/local/bin/nvim

[alias]
	co = checkout
	ci = commit
        st = status
        br = branch
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        type = cat-file -t
	dump = cat-file -p
[push]
	default = simple
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckobjects = true
[init]
	defaultBranch = main
