"*":
  Ensime:
    ensimeServerVersion: "2.0.0-SNAPSHOT"
  core:
    disabledPackages: [
      "status-bar"
      "language-perl"
      "language-php"
      "language-ruby-on-rails"
      "language-sass"
      "language-java"
      "language-csharp"
      "git-diff"
      "proto-repl"
      "ink"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "duotone-light-syntax"
    ]
    titleBar: "custom"
  "duotone-light-syntax":
    color:
      duo: "#5f6deb"
      uno: "#e78695"
  editor:
    fontFamily: "FiraCode-Retina"
    preferredLineLength: 90
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e9ea9b8e-0398-7f16-5681-a9d0525582f9"
  linter: {}
  "markdown-preview-plus":
    useGitHubStyle: true
  "proto-repl":
    inkConsole: false
    preferLein: false
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: false
